:root {
	--bg: #0f0f0f;
	--fg: #1a1a1a;
	--text: #e0e0e0;
	--primary: #2a2a2a;
	--secondary: #4da6ff;
}

* {
	color: var(--text);
}

html, body{
	height: 100%;
	margin: 0;
	overflow: hidden;
}

a {
	color: var(--secondary);
}

a:hover {
	color: var(--text);
}

body {
	display: flex;
	flex-direction: column;
}

header, footer {
	background: var(--fg);
}

header {
	padding: 10px 0px;
}

header a {
	background: var(--secondary);
	color: var(--bg);
	text-decoration: none;
	padding: 5px 20px;
	border-radius: 4px;
	margin: 12px;
	transition: .3s background;
}

header a:hover {
	background: var(--bg);
	color: var(--secondary);
}

main {
	flex: 1;
	background: var(--bg);
	min-height: 0;
	display: flex;
}

#canvas-container {
	border: 10px solid var(--primary);
	flex: 1;
	display: flex;
}

#viewport {
	border: 1px solid var(--secondary);
}

#sidebar {
	min-height: 0;
	display: flex;
	flex-direction: column;
}

#palette-container {
	flex: 1;
	min-height: 0;
	overflow-y: auto;
	border: 10px solid var(--primary);
	width: 256px;
	display: flex;
	flex-direction: column;
}

canvas {
	flex: 1;
	width: 100%;
}

#label {
	background: var(--primary);
	padding: 5px 12px;
	font-weight: 600;
}

footer {
	padding: 10px;
}

.links {
	text-align: center;
}
