@import "/css/shared.css";

body {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	padding: 24px;
	min-width: 260px;
	text-align: center;
}

h1 {
	margin: 0 0 16px 0;
	font-size: 20px;
}

.btn {
	display: block;
}
